/* Jumbotron */
.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: white;
  }
  
.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 50rem;
}

/* Upcoming movies */
#upcoming_movies {
  padding-top: 2rem;
  padding-bottom: 2rem;
}


/* Card */
.card-footer {
  background-color: white;
}

#card_group1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}


/* Colours */
.blue {
    color: blue;
}

.red {
    color: red;
}

.green {
    color: green;
}

.purple {
    color: purple;
}

.blueviolet {
    color:blueviolet;
}

.orange {
    color: orange;
}

.midnight {
    color:midnightblue;
}

/* Footer */
footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer p {
  margin-bottom: .25rem;
}
