/*
Placeholder text
only opening to test <src> tags
*/

.blue {
    color: blue;
}

.red {
    color: red;
}

.green {
    color: green;
}

.purple {
    color: purple;
}

.blueviolet {
    color:blueviolet;
}

.orange {
    color: orange;
}

.midnight {
    color:midnightblue;
}

