{% extends "layout.html" %}

{% block title %}
    Genres
{% endblock %}

{% block main %}

<!--Create Dropdown for genres-->
<label for="genres">Select A Genre</label>

<form action="/genres" id="genre_form" method="get">
    <select name="genre" id="genre_selected" required autofocus onchange= "this.form.submit(); ">
        {% for genre in genres %}
            {% if genre == genre_selected %}
                <option value="{{ genre }}" selected>{{ genre }}</option>
            {% else %}
                <option value="{{ genre }}">{{ genre }}</option>
            {% endif %}
        {% endfor %}
    </select>
</form>

<!--Movies from genre selected using Jinja-->
<div class="container-fluid">
    <h2>{{ genre_selected }}</h2>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Poster</th>
                <th scope="col">About</th>
                <th scope="col">Release Date (D/M/Y)</th>
            </tr>
        </thead>
        <tbody>
            {% if movies != None %}
            {% for movie in movies %}
            <tr>
                
                <td>
                    {% if movie.primaryImage != None %}
                    <figure>
                        <img src="{{ movie.primaryImage.url }}" alt="{{ movie.primaryImage.caption.plainText }}" class="img-fluid">
                        <figcaption>{{ movie.primaryImage.caption.plainText }}</figcaption>
                    </figure>
                    {% else %}
                    <p>Poster Unavailable</p>
                    {% endif %}
                </td>
                <td>
                    Title: {{ movie.titleText.text }} <br>
                    Short ID: {{ movie.id }} <br>
                    Long ID: {{ movie._id }}
                    <!--Click button and it goes to more info about the movie-->
                    <form action="/movie" method="get" id="movie.id" >
                        <select hidden name="movie_id" onclick="this.form.submit()">
                            <option hidden value="{{ movie.id }}" selected></option>
                        </select>
                        <button type="submit">More info</button>
                    </form>
                    {% if session["user_id"] %}
                    <!--Checkbox to Update Watchlist-->
                    <button class="container-fluid">
                        <h2>Add to Watchlist</h2>
                        {% if movie.id in movies_in_watchlist %}
                            <form name="removeWatch" id="removeWatch" action="/watchlist" method="post">
                                <input type="hidden" name="movie_id" value="{{ movie.id }}">
                                <input type="hidden" name="action" id="action" value="remove">
                                <input class="form-check-input" type="checkbox" onclick="this.form.submit()" checked>  
                            </form>
                        {% else %}
                            <form name="addWatch" id="addWatch" action="/watchlist" method="post">
                                <input type="hidden" name="movie_id" value="{{ movie.id }}">
                                <input type="hidden" name="action" id="action" value="add">
                                <input class="form-check-input" type="checkbox" onclick="this.form.submit()">
                            </form>
                        {% endif %}
                    </button>
                    {% endif %}
                </td>
                <td>
                    {% if movie.releaseDate != None %}
                        {{ movie.releaseDate.day }} / {{ movie.releaseDate.month }} / {{ movie.releaseDate.year }}
                    {% else %}
                        <p>NA</p>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary" id="refresh">Get More Movies</button>
</div>

<script>
    $('#refresh').click(function() {
        $('#genre_form').submit();
    })
</script>

{% endblock %}