{% extends "layout.html" %}

{% block title %}
    Genres
{% endblock %}

{% block main %}
<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">Poster</th>
            <th scope="col">About</th>
            <th scope="col">Release Date (D/M/Y)</th>

        </tr>
    </thead>
    <tbody>
        {% for movie in movies %}
        <tr>
            
            <td>
                {% if movie.primaryImage != None %}
                <figure>
                    <img src="{{ movie.primaryImage.url }}" alt="{{ movie.primaryImage.caption.plainText }}" class="img-fluid">
                    <figcaption>{{ movie.primaryImage.caption.plainText }}</figcaption>
                </figure>
                {% else %}
                <p>Poster Unavailable</p>
                {% endif %}
            </td>
            <td>
                Title: {{ movie.titleText.text }} <br>
                Short ID: {{ movie.id }} <br>
                Long ID: {{ movie._id }}</td>
            <td>
                {% if movie.releaseDate != None %}
                    {{ movie.releaseDate.day }} / {{ movie.releaseDate.month }} / {{ movie.releaseDate.year }}
                {% else %}
                    <p>NA</p>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}