{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <!--Show Upcoming Movies-->
    <h2>Upcoming Movies 2023-2025</h2>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Poster</th>
                <th scope="col">About</th>
                <th scope="col">Release Date (D/M/Y)</th>

            </tr>
        </thead>
        <tbody>
            {% for movie in upcoming %}
            <tr>
                
                <td>
                    {% if movie.primaryImage != None %}
                    <figure>
                        <img src="{{ movie.primaryImage.url }}" alt="{{ movie.primaryImage.caption.plainText }}" class="img-fluid">
                        <figcaption>{{ movie.primaryImage.caption.plainText }}</figcaption>
                    </figure>
                    {% else %}
                    <p>Poster Unavailable</p>
                    {% endif %}
                </td>
                <td>
                    
                    Title: {{ movie.titleText.text }} <br>
                    Short ID: {{ movie.id }} <br>
                    Long ID: {{ movie._id }}
                    <!--Click button and it goes to more info about the movie-->
                    <form action="/movie" method="get" id="movie.id" >
                        <select hidden name="movie_id" onclick="this.form.submit()">
                            <option hidden value="{{ movie.id }}" selected></option>
                        </select>
                        <button type="submit">More info</button>
                    </form>
                </td>
                <td>
                    {% if movie.releaseDate != None %}
                        {{ movie.releaseDate.day }} / {{ movie.releaseDate.month }} / {{ movie.releaseDate.year }}
                    {% else %}
                        <p>NA</p>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <hr>
    <!--Show Top 10 movies in the box office last weekend-->
    <h2>Top Movies Last Weekend</h2>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Poster</th>
                <th scope="col">About</th>
                <th scope="col">Release Date (D/M/Y)</th>

            </tr>
        </thead>
        <tbody>
            {% for movie in box_10 %}
            <tr>
                
                <td>
                    {% if movie.primaryImage != None %}
                    <figure>
                        <img src="{{ movie.primaryImage.url }}" alt="{{ movie.primaryImage.caption.plainText }}" class="img-fluid">
                        <figcaption>{{ movie.primaryImage.caption.plainText }}</figcaption>
                    </figure>
                    {% else %}
                    <p>Poster Unavailable</p>
                    {% endif %}
                </td>
                <td>
                    Title: {{ movie.titleText.text }} <br>
                    Short ID: {{ movie.id }} <br>
                    Long ID: {{ movie._id }}
                    <!--Click button and it goes to more info about the movie-->
                    <form action="/movie" method="get" id="movie.id" >
                        <select hidden name="movie_id" onclick="this.form.submit()">
                            <option hidden value="{{ movie.id }}" selected></option>
                        </select>
                        <button type="submit">More info</button>
                    </form>
                </td>
                    
                <td>
                    {% if movie.releaseDate != None %}
                        {{ movie.releaseDate.day }} / {{ movie.releaseDate.month }} / {{ movie.releaseDate.year }}
                    {% else %}
                        <p>NA</p>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}