{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <!--Show Upcoming Movies-->
    <h2>Upcoming Movies 2023-2025</h2>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Poster</th>
                <th scope="col">About</th>
                <th scope="col">Release Date (D/M/Y)</th>

            </tr>
        </thead>
        <tbody>
            {% for movie in upcoming %}
            <tr>
                
                <td>
                    {% if movie.primaryImage != None %}
                    <figure>
                        <img src="{{ movie.primaryImage.url }}" alt="{{ movie.primaryImage.caption.plainText }}" class="img-fluid">
                        <figcaption>{{ movie.primaryImage.caption.plainText }}</figcaption>
                    </figure>
                    {% else %}
                    <p>Poster Unavailable</p>
                    {% endif %}
                </td>
                <td>
                    
                    Title: {{ movie.titleText.text }} <br>
                    Short ID: {{ movie.id }} <br>
                    Long ID: {{ movie._id }}
                    <!--Click button and it goes to more info about the movie-->
                    <form action="/movie" method="get" id="movie.id" >
                        <select hidden name="movie_id">
                            <option hidden value="{{ movie.id }}" selected></option>
                        </select>
                        <button type="submit" class="btn btn-primary">
                            More info
                        </button>
                    </form>
                    <!--Button that adds movie to watchlist, doesn't get or post (asynchronous?)(javascript updates sql table), checkbox-->
                    <form action="/watchlist">
                        <!--movies_in_watchlist is a list of dictionaries, each item has one key ex. movie["movie_id"] == movies_in_watchlist[i]["movie_id"] for all i in len(movies_in_watchlist)-->
                        <!--Already in watchlist (doesn't work yet)-->
                        {% if movie.id in movies_in_watchlist["movie_id"] %}
                        <input class="form-check-input" type="checkbox" value="{{ movie.id }}" onclick="removeFromWatchlist()" checked>
                        <!--Not in watchlist yet-->
                        {% else %}
                        <input class="form-check-input" type="checkbox" value="{{ movie.id }}" onclick="addToWatchlist()">
                        {% endif %}
                    </form>
                    <script>
                        const sqlite3 = require('sqlite3').verbose();

                        // Open a database connection
                        let db = new sqlite3.Database('./db/sample.db');

                        

                        var function addToWatchlist() {
                            
                        }

                        // Close database connection
                        db.close();

                    </script>
                </td>
                <td>
                    {% if movie.releaseDate != None %}
                        {{ movie.releaseDate.day }} / {{ movie.releaseDate.month }} / {{ movie.releaseDate.year }}
                    {% else %}
                        <p>NA</p>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <hr>
    <!--Show Top 10 movies in the box office last weekend-->
    <h2>Top Movies Last Weekend</h2>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Poster</th>
                <th scope="col">About</th>
                <th scope="col">Release Date (D/M/Y)</th>

            </tr>
        </thead>
        <tbody>
            {% for movie in box_10 %}
            <tr>
                
                <td>
                    {% if movie.primaryImage != None %}
                    <figure>
                        <img src="{{ movie.primaryImage.url }}" alt="{{ movie.primaryImage.caption.plainText }}" class="img-fluid">
                        <figcaption>{{ movie.primaryImage.caption.plainText }}</figcaption>
                    </figure>
                    {% else %}
                    <p>Poster Unavailable</p>
                    {% endif %}
                </td>
                <td>
                    Title: {{ movie.titleText.text }} <br>
                    Short ID: {{ movie.id }} <br>
                    Long ID: {{ movie._id }}
                    <!--Click button and it goes to more info about the movie-->
                    <form action="/movie" method="get" id="movie.id" >
                        <select hidden name="movie_id" onclick="this.form.submit()">
                            <option hidden value="{{ movie.id }}" selected></option>
                        </select>
                        <button type="submit" class="btn btn-primary">More info</button>
                    </form>
                </td>
                    
                <td>
                    {% if movie.releaseDate != None %}
                        {{ movie.releaseDate.day }} / {{ movie.releaseDate.month }} / {{ movie.releaseDate.year }}
                    {% else %}
                        <p>NA</p>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}