{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <!--TODO: Restructure display into a more appealing format-->
    <div class="jumbotron">
        <div class="container">
            <h1><i class="fa-solid fa-hat-wizard" alt="wizard hat"></i>Movie Wizard</h1>
            <p class=".col-">
                Have you ever not been able to find a movie?
                This website gives you the inspiration to find what you want to watch just from the click of a few buttons
            </p>
            <!--Goes to a page where you can submit a form (check a bunch of boxes), app makes a bunch of requests, finds and returns common movies from the request (ex. using if key in x and y and z and etc..)-->
            <button class="btn btn-primary">Find a Movie</button>
            <a href="/search"> <button class="btn btn-secondary">Get a Random Movie</button> </a>
        </div>
    </div>

    <!--Upcoming Movies-->
    <div class="grid text-center">
        <!--3 columns/movies per row?-->
        <div class="g-col-4">


        </div> 
        <!--Restart the request to hold different, random upcoming movies-->
        <button>Randomize</button>             
    </div>

    <!--Top 10 box office movies last weekend-->

    <!--TODO: Add a "back to top" navbar item-->


    <!-- Change the shading of this container so it is slightly darker-->
    <div class="container">

        <!--Show Upcoming Movies-->
        <h2>Upcoming Movies 2023-2025</h2>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Poster</th>
                    <th scope="col">About</th>
                    <th scope="col">Release Date (D/M/Y)</th>

                </tr>
            </thead>
            <tbody>
                {% for movie in upcoming %}
                <tr>
                    
                    <td>
                        {% if movie.primaryImage != None %}
                        <figure>
                            <img src="{{ movie.primaryImage.url }}" alt="{{ movie.primaryImage.caption.plainText }}" class="img-fluid">
                            <figcaption>{{ movie.primaryImage.caption.plainText }}</figcaption>
                        </figure>
                        {% else %}
                        <p>Poster Unavailable</p>
                        {% endif %}
                    </td>
                    <td>
                        
                        Title: {{ movie.titleText.text }} <br>
                        Short ID: {{ movie.id }} <br>
                        Long ID: {{ movie._id }}
                        <!--Click button and it goes to more info about the movie-->
                        <form action="/movie" method="get" >
                            <select hidden name="movie_id">
                                <option hidden id="movie_id" value="{{ movie.id }}" selected></option>
                            </select>
                            <!--TODO: Include a popover so when you hover over the button, it says "Get cool info about the movie like filming locations, goofs, soundtrack, and more ..."-->
                            <button type="submit" class="btn btn-primary">
                                More info
                            </button>
                        </form>
                        <!--Only show if user logged in-->
                        <!--TODO: Change to show button even if they're not locked in, but if not logged in, remove checkbox, add locked icon, and popover saying you must be logged in to access this feature -->
                        {% if session["user_id"] %}
                        <!--Checkbox to Update Watchlist-->
                        <button class="container-fluid">
                            <h2>Add to Watchlist:</h2>
                            {% if movie.id in movies_in_watchlist %}
                                <form name="removeWatch" id="removeWatch" action="/watchlist" method="post">
                                    <input type="hidden" name="movie_id" value="{{ movie.id }}">
                                    <input type="hidden" name="action" id="action" value="remove">
                                    <input class="form-check-input" type="checkbox" onclick="this.form.submit()" checked>  
                                </form>
                            {% else %}
                                <form name="addWatch" id="addWatch" action="/watchlist" method="post">
                                    <input type="hidden" name="movie_id" value="{{ movie.id }}">
                                    <input type="hidden" name="action" id="action" value="add">
                                    <input class="form-check-input" type="checkbox" onclick="this.form.submit()">
                                </form>
                            {% endif %}
                        </button>
                        {% endif %}
                    </td>
                    <td>
                        {% if movie.releaseDate != None %}
                            {{ movie.releaseDate.day }} / {{ movie.releaseDate.month }} / {{ movie.releaseDate.year }}
                        {% else %}
                            <p>NA</p>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
        <hr>
        <!--Show Top 10 movies in the box office last weekend-->
        <h2>Top Movies Last Weekend</h2>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Poster</th>
                    <th scope="col">About</th>
                    <th scope="col">Release Date (D/M/Y)</th>

                </tr>
            </thead>
            <tbody>
                {% for movie in box_10 %}
                <tr>
                    
                    <td>
                        {% if movie.primaryImage != None %}
                        <figure>
                            <img src="{{ movie.primaryImage.url }}" alt="{{ movie.primaryImage.caption.plainText }}" class="img-fluid">
                            <figcaption>{{ movie.primaryImage.caption.plainText }}</figcaption>
                        </figure>
                        {% else %}
                        <p>Poster Unavailable</p>
                        {% endif %}
                    </td>
                    <td>
                        Title: {{ movie.titleText.text }} <br>
                        Short ID: {{ movie.id }} <br>
                        Long ID: {{ movie._id }}
                        <!--Click button and it goes to more info about the movie-->
                        <form action="/movie" method="get" id="movie.id" >
                            <select hidden name="movie_id" onclick="this.form.submit()">
                                <option hidden value="{{ movie.id }}" selected></option>
                            </select>
                            <button type="submit" class="btn btn-primary">More info</button>
                        </form>
                        <!--Checkbox to Update Watchlist-->
                        {% if session["user_id"] %}
                        <button class="container-fluid">
                            <h2>Add to Watchlist:</h2>
                            {% if movie.id in movies_in_watchlist %}
                                <form name="removeWatch" id="removeWatch" action="/watchlist" method="post">
                                    <input type="hidden" name="movie_id" value="{{ movie.id }}">
                                    <input type="hidden" name="action" id="action" value="remove">
                                    <input class="form-check-input" type="checkbox" onclick="this.form.submit()" checked>  
                                </form>
                            {% else %}
                                <form name="addWatch" id="addWatch" action="/watchlist" method="post">
                                    <input type="hidden" name="movie_id" value="{{ movie.id }}">
                                    <input type="hidden" name="action" id="action" value="add">
                                    <input class="form-check-input" type="checkbox" onclick="this.form.submit()">
                                </form>
                            {% endif %}
                        </button>
                        {% endif %}
                    </td>
                        
                    <td>
                        {% if movie.releaseDate != None %}
                            {{ movie.releaseDate.day }} / {{ movie.releaseDate.month }} / {{ movie.releaseDate.year }}
                        {% else %}
                            <p>NA</p>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    

{% endblock %}
<!--TODO: Run all html files through an html validator before submitting-->