{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<div class="form-signin w-100 m-auto">

    <form action="/login" method="post">
        <h1 class="midnight display-1 mb-4"><i class="fa-solid fa-hat-wizard" alt="wizard hat"></i>Movie Wizard</h1>
        <div class="row">
            <div class="col">
                <label for="username" class="form-label">Username: </label> 
                <input class="form-control mx-auto w-auto" id="username" type="text" placeholder="Username">  
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <label for="password" class="form-label">Password: </label>
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
            </div>  
        </div>
        <button class="btn btn-primary py-2" type="submit">Log In</button>
    </form>

</div>
    
{% endblock %}