{% extends "layout.html" %}

{% block title %}
    Movie
{% endblock %}

{% block main %}

<div class="container-fluid" >
    <div class="row">
        <!--One column for poster/title-->
        <div class="col">
            <h2>{{ movie.titleText.text }}</h2>
            {% if movie.primaryImage != None %}
                    <figure>
                        <img src="{{ movie.primaryImage.url }}" alt="{{ movie.primaryImage.caption.plainText }}" class="img-fluid">
                        <figcaption>{{ movie.primaryImage.caption.plainText }}</figcaption>
                    </figure>
                    {% else %}
                    <p>Poster Unavailable</p>
            {% endif %}
        </div>
        <!--Info on the right-->
        <div class="col">
            <!-- Rows inside this column-->
            <div class="row">
                <div class="col">
                    <h4>Genres: <i class="bi bi-palette-fill"></i></h4>
                    <p>
                        {% for genre in movie.genres.genres %}
                            {{ genre["text"] }},
                        {% endfor %}
                    </p>
                </div>
                {% if session["user_id"] %}
                <div class="col">
                    <!--Checkbox to Update Watchlist-->
                    <button class="container-fluid">
                        <h2>Watchlist?</h2>
                        {% if movie.id in movies_in_watchlist %}
                            <form name="removeWatch" id="removeWatch" action="/watchlist" method="post">
                                <input type="hidden" name="movie_id" value="{{ movie.id }}">
                                <input type="hidden" name="action" id="action" value="remove">
                                <input class="form-check-input" type="checkbox" onclick="this.form.submit()" checked>  
                            </form>
                        {% else %}
                            <form name="addWatch" id="addWatch" action="/watchlist" method="post">
                                <input type="hidden" name="movie_id" value="{{ movie.id }}">
                                <input type="hidden" name="action" id="action" value="add">
                                <input class="form-check-input" type="checkbox" onclick="this.form.submit()">
                            </form>
                        {% endif %}
                    </button>
                </div>
                {% endif %}
                <hr>
            </div>
            <div class="row">
                <div class="col">
                    <h4>Awards <i class="bi bi-award-fill"></i></h4>
                    <p>Nominations: {{ movie.nominations.total }}</p>
                    <p>Wins: {{ movie.wins.total }}</p>
                    <h6>Oscars:</h6>
                    <p>Wins: {{ movie.prestigiousAwardSummary.wins }}</p>
                    <p>Nominations: {{ movie.prestigiousAwardSummary.nominations }}</p>
                </div>
                <div class="col">
                    <h4>Revenue and Budget <i class="bi bi-robot"></i></h4>
                    <p>Production Budget: 
                        {% if movie.productionBudget != None %}
                            {{ movie.productionBudget.budget.amount | usd }}
                        {% else %}
                            NA
                        {% endif %}
                    </p>
                    <p>Opening Weekend: 
                    {% if movie.openingWeekendGross != None %}
                        {{ movie.openingWeekendGross.gross.total.amount | usd }}
                    {% else %}
                        NA
                    {% endif %}
                    </p>
                    <p>Lifetime: 
                    {% if movie.lifetimeGross != None %}
                        {{ movie.lifetimeGross.total.amount | usd }}
                    {% else %}
                        NA
                    {% endif %}
                    </p>
                    <p>Worldwide: 
                    {% if movie.worldwideGross != None %}
                        {{ movie.worldwideGross.total.amount | usd }}
                    {% else %}
                        NA
                    {% endif %}
                    </p>
                </div>
            </div>
            <hr>
            <div class="row">
                <h4>Plot <i class="bi bi-rocket-takeoff"></i></h4>
                <p>
                    {% if movie.plot != None %}
                        {{ movie.plot.plotText.plainText }}
                    {% else %}
                        Plot Unavailable (mystery movie)
                    {% endif %}
                </p>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <h4>Ratings <i class="bi bi-file-earmark-bar-graph-fill"></i></h4>
                    {% if movie.meterRanking != None %}
                        <p>Meter Ranking: {{ movie.meterRanking.currentRank }}</p>
                        <p>
                            Change: {{ movie.meterRanking.rankChange.changeDirection }} {{ movie.meterRanking.rankChange.difference }}
                            {% if movie.meterRanking.rankChange.changeDirection == "DOWN" %}
                            <i class="bi bi-graph-down-arrow"></i>
                            {% elif movie.meterRanking.rankChange.changeDirection == "UP" %}
                            <i class="bi bi-graph-up-arrow"></i>
                            {% endif %}
                        </p>
                    {% else %}
                        Unavailable
                    {% endif %}
                </div>
                <div class="col">
                    <h4>Runtime <i class="bi bi-stopwatch"></i></h4>
                    {% if movie.runtime != None %}
                    <p>{{ movie.runtime.seconds|secToMin }} minutes</p>
                    {% else %}
                        NA
                    {% endif %}
                </div>
                <div class="col">
                    <h4>Movie ID: </h4>
                    <p>{{ movie.id }}</p>
                </div>
                <div class="col">
                    <h4>Release Date: </h4>
                    <h5>
                        {% if movie.releaseDate != None %}
                            {{ movie.releaseDate.day }} / {{ movie.releaseDate.month }} / {{ movie.releaseDate.year }}
                        {% elif movie.releaseYear != None %}
                            {{ movie.releaseYear.year}}
                        {% endif %}
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <h4>Filming Locations <i class="bi bi-map-fill"></i></h4>
        <h6>Total: {{ movie.filmingLocations.total }}</h6>
        <h6>Known Locations: </h6>
        {% for location in movie.filmingLocations.edges %}
            <p>{{ location.node.text }}</p>
        {% endfor %}
    </div>
    <hr>
    <div class="row">
        <h4>Soundtrack <i class="bi bi-music-note-list"></i></h4>
        {% for song in movie.soundtrack.edges %}
            <p>Title: {{ song.node.text }}</p>
            {% for comment in song.node.comments %}
                <p>{{ comment.plaidHtml|safe }}</p>
            {% endfor %}
        {% endfor %}
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <h4>Countries of Origin <i class="bi bi-globe2"></i></h4>
            {% for country in movie.countriesOfOrigin.countries %}
                <p>{{ country.text }}</p>
            {% endfor %}
        </div>
        <div class="col">
            <h4>Spoken Languages <i class="bi bi-translate"></i></h4>
            {% for lang in movie.spokenLanguages.spokenLanguages %}
                <p>{{ lang.text }}</p>
            {% endfor %}
        </div>
    </div>
    <hr>
</div>

<!--TODO: Create a morelikethis.html that extends movie.html (and possibly other files) to save space-->
<h3>More like this</h3>
{% if movie.moreLikeThisTitles != None %}
    <!--Create a card for each movie-->
    <div class="card-deck d-inline-flex">
        {% for movie in movie.moreLikeThisTitles.edges %}
        <div class="card container-fluid">

            {% if movie.primaryImage != None %}
                <img class="card-img-top" src="{{ movie.node.primaryImage.url }}" alt="Movie Poster">
            {% endif %}

            <div class="card-body">
                <h5 class="card-title">{{ movie.node.titleText.text }}</h5>
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">Release Year: {{ movie.node.releaseYear.year }}</li>
                {% if movie.node.ratingsSummary != None %}
                <li class="list-group-item">
                    Rating: {{ movie.node.ratingsSummary.aggregateRating }}/10, 
                    Votes: {{ movie.node.ratingsSummary.voteCount }}
                </li>
                {% endif %}
                {% if movie.node.runtime != None %}
                <li class="list-group-item">Runtime: {{ movie.node.runtime.seconds|secToMin }} minutes</li>
                {% endif %}
            </ul>

            <div class="card-footer">
                <!--Click button and it goes to more info about the movie-->
                <form action="/movie" method="get">
                    <select hidden name="movie_id" onchange="this.form.submit()">
                        <option hidden value="{{ movie.node.id }}" selected></option>
                    </select>
                    <button type="submit" class="btn btn-primary">More info</button>
                </form>
            </div>

        </div>     
        {% endfor %}
    </div>
{% else %}
    Not available
{% endif %}




<!--
{% for key in movie %}
    <p>{{ key }} : 
        {% if movie[key] != None and movie[key] is mapping %}
            {% for subkey in movie[key] %}
                <p>{{ subkey }} : {{ movie[key][subkey] }}</p>
            {% endfor %}
        {% else %}
            {{ movie[key] }}
        {% endif %}
    </p><br><br>
{% endfor %}
-->

{% endblock %}