{% extends "layout.html" %}

{% block title %}
    Movie
{% endblock %}

{% block main %}

<div class="container-fluid" >
    <div class="row">
        <!--One column for poster/title-->
        <div class="col">
            <h2>Title: {{ movie.titleText.text }}</h2>
            <figure>
                <img src="{{ movie.primaryImage.url }}" alt="{{ movie.primaryImage.caption.plainText }}" class="img-fluid">
                <figcaption>{{ movie.primaryImage.caption.plainText }}</figcaption>
            </figure>
            <hr>
        </div>
        <!--Info on the right-->
        <div class="col">
            <!-- Rows inside this column-->
            <div class="row">
                <h4>Genres: </h4>
                <p>
                    {% for genre in movie.genres.genres %}
                        {{ genre["text"] }},
                    {% endfor %}
                </p>
                <hr>
            </div>
            <div class="row">
                <h4>Awards</h4>
                <p>Nominations: {{ movie.nominations.total }}</p>
                <p>Wins: {{ movie.wins.total }}</p>
            </div>
            <div class="row">
                <h4>Plot</h4>
                <p>
                    {{ movie.plot.plotText.plainText }}
                </p>
            </div>
            <div class="row">
                <h4>Revenue and Budget</h4>
                <p>Production Budget: {{ movie.productionBudget.budget.amount | usd }}</p>
                <p>Opening Weekend: {{ movie.openingWeekendGross.gross.total.amount | usd }}</p>
                <p>Lifetime: {{ movie.lifetimeGross.total.amount | usd }}</p>
                <p>Worldwide: {{ movie.worldwideGross.total.amount | usd }}</p>
            </div>
        </div>
    </div>
    
    
</div>




{% for key in movie %}
    <p>{{ key }} : 
        {% if movie[key] != None and movie[key] is mapping %}
            {% for subkey in movie[key] %}
                <p>{{ subkey }} : {{ movie[key][subkey] }}</p>
            {% endfor %}
        {% else %}
            {{ movie[key] }}
        {% endif %}
    </p><br><br>
{% endfor %}

{% endblock %}