{% extends "layout.html" %}

{% block title %}
    Movie
{% endblock %}

{% block main %}

<div class="container-fluid" >
    <div class="row">
        <!--One column for poster/title-->
        <div class="col">
            <h2>Title: {{ movie.titleText.text }}</h2>
            <figure>
                <img src="{{ movie.primaryImage.url }}" alt="{{ movie.primaryImage.caption.plainText }}" class="img-fluid">
                <figcaption>{{ movie.primaryImage.caption.plainText }}</figcaption>
            </figure>
            <hr>
        </div>
        <!--Info on the right-->
        <div class="col">
            <!-- Rows inside this column-->
            <div class="row">
                <h4>Genres: </h4>
                <p>
                    {% for genre in movie.genres.genres %}
                        {{ genre["text"] }},
                    {% endfor %}
                </p>
                <hr>
            </div>
            <div class="row">
                <div class="col">
                    <h4>Awards</h4>
                    <p>Nominations: {{ movie.nominations.total }}</p>
                    <p>Wins: {{ movie.wins.total }}</p>
                    <h6>Oscars:</h6>
                    <p>Wins: {{ movie.prestigiousAwardSummary.wins }}</p>
                    <p>Nominations: {{ movie.prestigiousAwardSummary.nominations }}</p>
                </div>
                <div class="col">
                    <h4>Revenue and Budget</h4>
                    <p>Production Budget: {{ movie.productionBudget.budget.amount | usd }}</p>
                    <p>Opening Weekend: {{ movie.openingWeekendGross.gross.total.amount | usd }}</p>
                    <p>Lifetime: {{ movie.lifetimeGross.total.amount | usd }}</p>
                    <p>Worldwide: {{ movie.worldwideGross.total.amount | usd }}</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <h4>Plot</h4>
                <p>
                    {{ movie.plot.plotText.plainText }}
                </p>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <h4>Ratings</h4>
                    <p>Meter Ranking: {{ movie.meterRanking.currentRank }}</p>
                    <p>
                        Change: {{ movie.meterRanking.rankChange.changeDirection }} {{ movie.meterRanking.rankChange.difference }}
                    </p>
                </div>
                <div class="col">
                    <h4>Runtime</h4>
                    <p>{{ movie.runtime.seconds }} seconds</p>
                </div>
                <div class="col">
                    <h4>Movie ID: </h4>
                    <p>{{ movie.id }}</p>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <hr>
    <div class="row">
        <h4>Filming Locations</h4>
        <h6>Total: {{ movie.filming_locations.total }}</h6>
        <h6>Known Locations: </h6>
        {% for location in movie.filming_locations.edges %}
            <p>Filming Location : {{ location.node.text }}</p>
        {% endfor %}
    </div>
    <hr>
</div>




{% for key in movie %}
    <p>{{ key }} : 
        {% if movie[key] != None and movie[key] is mapping %}
            {% for subkey in movie[key] %}
                <p>{{ subkey }} : {{ movie[key][subkey] }}</p>
            {% endfor %}
        {% else %}
            {{ movie[key] }}
        {% endif %}
    </p><br><br>
{% endfor %}

{% endblock %}