{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}

<script src="/scripts/profile.js" defer></script>

<!--Show username-->
<button>
    <p>Username: {{ username }}</p>
</button>
<!--TODO: Show password (password protected / hidden)(click an eye icon to show, like normally)-->
<button>
    <p>Password: <span style="-webkit-text-security: disc" name="original_pwd" id="original_pwd">{{ session["password"] }}</span></p>
    <!--TODO: Change from click to show when clicked and held -->
    <button name="show_password" id="show_password">Show Password</button>
</button>


<div class="row">
    <div class="col">
        <!--Change username-->
        <button type="text" name="update_username" id="update_username">Change Username</button>
        <div id="update_username_form" class="container"></div>
    </div>

    <div class="col">
        <!--Update password-->
        <button type="text" name="update_pwd" id="update_pwd">Change Password</button>
        <div id="update_pwd_form"></div>
    </div>
</div>


<!--TODO: Add preferences (ex. isAdult == false, fav genre, idk)(maybe not bc of time)(do last)-->

{% endblock %}