{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<form action="/register" method="post">
    <!--Username-->
    <div class="mb-3">
        <label for="username">Username: </label>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
    </div>

    <!--Password-->
    <div class="mb-3">
        <label for="password1">Password: </label>
        <input class="form-control mx-auto w-auto" id="password1" name="password" placeholder="Password" type="password">
    </div>
    <!--Reenter password-->
    <div class="mb-3">
        <label for="password2">Re-enter Password: </label>
        <input class="form-control mx-auto w-auto" id="password2" name="confirmation" placeholder="Confirm Password" type="password">
    </div>
    <!--Submit-->
    <button class="btn btn-primary" type="submit">Register</button>
</form>
{% endblock %}
