{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
    <!--Lookup a Movie-->
    <form class="d-flex" action="/search" method="get" autocomplete="on" id="search_form" role="search">
        <input class="form-control me-2" type="search" id="title" name="title" placeholder="Search a Title" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <!--Get Random movies-->
    <form action="/search" method="get" autocomplete="on">
        <input type="hidden" name="Random" value="Random">
        <button class="btn btn-success" type="submit" name="random">Get Random Movie (Recommended)</button>
    </form>
    <hr>

    <div class="container" id="new_results">
        
    </div>

    <!--TODO: Update Display of searched movies-->
    <!--Better if it is 1 per row-->
    <div class="container-fluid" id="first_results">
        <div class="row row-cols-3">
            {% for movie in movies %}
            <div class="col">
                <div class="card">
                    {% if movie.primaryImage != None %}
                        <img src="{{ movie.primaryImage.url }}" class="card-img-top w-100" alt="{{ movie.primaryImage.caption.plainText }}">  
                    {% else %}
                        <img src="../static/card-image.svg" class="card-img-top w-100" alt="Bootstrap">
                    {% endif %}
    
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.titleText.text }}</h5>
                        <p class="card-text"><small class="text-body-secondary">
                            {% if movie.releaseDate != None %}
                                {{ movie.releaseDate.day }} / {{ movie.releaseDate.month }} / {{ movie.releaseDate.year }}
                            {% else %}
                                <p>NA</p>
                            {% endif %}
                        </small></p>
                    </div>
    
                    <div class="card-footer">
                        <div class="btn-group" role="group" aria-label="Advanced movie options">
                            <!--Click button and it goes to more info about the movie-->
                            <form action="/movie" method="get" id="movie.id" >
                                <input type="hidden" name="movie_id" value="{{ movie.id }}">
                                <button type="submit" class="btn btn-outline-primary">More info</button>
                            </form>
    
                            <!--Update Watchlist-->
                            {% if movie.id in movies_in_watchlist %}
                                <form name="removeWatch" id="removeWatch" action="/watchlist" method="post">
                                    <input type="hidden" name="movie_id" value="{{ movie.id }}">
                                    <input type="hidden" name="action" id="action" value="remove">
                                    <button type="submit" class="btn btn-outline-primary" onclick="this.form.submit()">Remove from Watchlist</button>  
                                </form>
                            {% else %}
                                <form name="addWatch" id="addWatch" action="/watchlist" method="post">
                                    <input type="hidden" name="movie_id" value="{{ movie.id }}">
                                    <input type="hidden" name="action" id="action" value="add">
                                    <button type="submit" class="btn btn-outline-primary" onclick="this.form.submit()" {{"disabled" if not session["user_id"] }}>Add to Watchlist</button>
                                    <!--TODO: Add a popover saying "You must be logged in to Add to Watchlist"-->
                                </form>
                            {% endif %}   
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <script>
        $('document').ready(function () {

            // When the user types in anything to the search form (change from any key to a character)
            $('#search_form input[type="search"]').on( "keypress", function ( event ) {
                var key_pressed = event.key;

                // Collapse/hide the original results
                $('#first_results').hide();
                // Prepare and send a request for the new results
                var title = $('#search_form input[type="search"]').val();
                title = title + key_pressed;
                console.log(title);

                // Prepare Ajax request
                const settings = {
                async: true,
                crossDomain: true,
                url: 'https://moviesdatabase.p.rapidapi.com/titles/search/title/' + String(title) + '?exact=true&titleType=movie',
                method: 'GET',
                headers: {
                    'X-RapidAPI-Key': '515955a8bbmsh7bacf3e7bb3ed33p1ef576jsna2431a83680e',
                    'X-RapidAPI-Host': 'moviesdatabase.p.rapidapi.com'
                }
                };

                $.ajax(settings).done(function (response) {
                    console.log(response);
                    // response prints valid JSON, geting a value or converting to JSON returns [object Object]
                    // TODO: Convert response to json or find a way to access response["results"]
                    var resp = response.results
                    for (let i = 0; i < resp.length; i++) {
                        console.log("\n" + resp[i].id);
                    }

                    // Display the new results
                    $('#new_results').html(resp[0].id);
                });

                /*
                // If the form doesn't have a value
                if (!$('#search_form input[type="search"]').val()) {
                    $('#first_results').show();
                }
                // Only hides on the second key pressed
                */
                
            })

        })
    </script>

{% endblock %}