{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
    <form action="/search" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="title" name="title" placeholder="Movie Title" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Get Movie</button>
    </form>
    <form action="/search" method="post">
        <input type="hidden" name="Random" value="Random">
        <button class="btn btn-success" type="submit" name="random">Get Random Movie</button>
    </form>
    <hr>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Poster</th>
                <th scope="col">About</th>
                <th scope="col">Release Date (D/M/Y)</th>

            </tr>
        </thead>
        <tbody>
            <!--User id (for ajax checkbox later)-->
            <p hidden id="user_id">{{ id }}</p>
            {% for movie in movies %}
            <tr>
                
                <td>
                    {% if movie.primaryImage != None %}
                    <figure>
                        <img src="{{ movie.primaryImage.url }}" alt="{{ movie.primaryImage.caption.plainText }}" class="img-fluid">
                        <figcaption>{{ movie.primaryImage.caption.plainText }}</figcaption>
                    </figure>
                    {% else %}
                    <p>Poster Unavailable</p>
                    {% endif %}
                </td>
                <td>
                    Title: {{ movie.titleText.text }} <br>
                    Short ID: {{ movie.id }}  <br>
                    Long ID: {{ movie._id }}
                    <!--Click button and it goes to more info about the movie-->
                    <form action="/movie" method="get" >
                        <select hidden name="movie_id" onchange="this.form.submit()">
                            <option hidden value="{{ movie.id }}" selected></option>
                        </select>
                        <button type="submit" class="btn btn-primary">More info</button>
                    </form>

                    <!--Button that adds movie to watchlist (not complete yet)!-->
                    {% if movie.id in movies_in_watchlist %}
                    <form>
                        <button type="button">
                            Add to Watchlist
                            <input class="form-check-input" type="checkbox" value="{{ movie.id }}" checked>
                        </button>
                    </form>
                    {% else %}
                    <form>
                        <button type="button">
                            Add To Watchlist
                            <input class="form-check-input" type="checkbox" value="{{ movie.id }}">
                        </button>
                    </form>
                    {% endif %}
                    
                
                </td>
                <td>
                    {% if movie.releaseDate != None %}
                        {{ movie.releaseDate.day }} / {{ movie.releaseDate.month }} / {{ movie.releaseDate.year }}
                    {% else %}
                        <p>NA</p>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}