{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
    <form action="/search" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="title" name="title" placeholder="Movie Title" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Get Movie</button>
    </form>
    <form action="/search" method="post">
        <input type="hidden" name="Random" value="Random">
        <button class="btn btn-success" type="submit" name="random">Get Random Movie</button>
    </form>
    <hr>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Poster</th>
                <th scope="col">About</th>
                <th scope="col">Release Date (D/M/Y)</th>

            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
            <tr>
                
                <td>
                    {% if movie.primaryImage != None %}
                    <figure>
                        <img src="{{ movie.primaryImage.url }}" alt="{{ movie.primaryImage.caption.plainText }}" class="img-fluid">
                        <figcaption>{{ movie.primaryImage.caption.plainText }}</figcaption>
                    </figure>
                    {% else %}
                    <p>Poster Unavailable</p>
                    {% endif %}
                </td>
                <td>
                    Title: {{ movie.titleText.text }} <br>
                    Short ID: {{ movie.id }}  <br>
                    Long ID: {{ movie._id }}
                    <!--Click button and it goes to more info about the movie-->
                    <form action="/movie" method="get" >
                        <select hidden name="movie_id" onchange="this.form.submit()">
                            <option hidden value="{{ movie.id }}" selected></option>
                        </select>
                        <button type="submit" class="btn btn-primary">More info</button>
                    </form>

                    <!--Button that adds movie to watchlist, doesn't get or post (asynchronous?)(javascript updates sql table), checkbox-->
                    <form action="/watchlist">
                        <input hidden type="number" name="user_id" id="user_id" value="{{ id }}">
                        <input hidden type="text" id="movie_id" value="{{ movie.id }}">
                        <!--movies_in_watchlist is a list of dictionaries, each item has one key ex. movie["movie_id"] == movies_in_watchlist[i]["movie_id"] for all i in len(movies_in_watchlist)-->
                        {% if movie.id in movies_in_watchlist %}
                        <input class="form-check-input" type="checkbox" value="{{ movie.id }}" onclick="removeFromWatchlist(document.getElementByID('user_id').value, document.getElementByID('movie_id').value)" checked>
                        {% else %}
                        <input class="form-check-input" type="checkbox" value="{{ movie.id }}" onclick="addToWatchlist({{ id }}, {{ movie.id }})">
                        {% endif %}
                    </form>
                
                </td>
                <td>
                    {% if movie.releaseDate != None %}
                        {{ movie.releaseDate.day }} / {{ movie.releaseDate.month }} / {{ movie.releaseDate.year }}
                    {% else %}
                        <p>NA</p>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}