{% extends "layout.html" %}

{% block title %}
    Watchlist
{% endblock %}

{% block main %}
<div class="container">
    <h1>Movies to Watch</h1>
</div>

<div id="watchlist_carousel" class="carousel slide container-fluid">
    <!--If there is more than one page-->
    {% if num_pages > 1 %}
    <!-- Add Page Navigation-->
    <nav aria-label="Movie pages navigation top">
        <ul class="pagination justify-content-center">
            <!--Prev button-->
            <li class="page-item">
                <button  type="button" data-bs-target="#watchlist_carousel" class="active" data-bs-slide="prev">
                    <i class="bi bi-chevron-double-left"></i>
                </button>
            </li>
            <!--Pages-->
            {% for i in range(num_pages) %}
            <li class="page-item">
                <button type="button" data-bs-target="#watchlist_carousel" data-bs-slide-to="{{ i }}"  aria-label="Slide {{ i + 1 }}" {% if i == 0 %} aria-current="true" class="active" {% endif %}>Page: {{ i + 1 }}</button>
            </li>
            {% endfor %}
            <!--Next button-->
            <li class="page-item">
                <button type="button" data-bs-target="#watchlist_carousel" class="active" data-bs-slide="next">
                    <i class="bi bi-chevron-double-right"></i>
                </button>
            </li>
        </ul>
    </nav>
    {% endif %}

    <!--Display movies in each page-->
    <div class="carousel-inner">
        {% for pg in pages %}
        <div {% if pg == pages[0] %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}>
            <!--Create a 3x3 grid-->
            <div class="row row-cols-1 row-cols-sm-3 container-fluid">
                <!--Iterate through each movie in the page-->
                {% for movie in pg %}
                <!--Create a card for the movie-->
                <div class="col card">
                    <!--Poster-->
                    {% if movie.primaryImage != None %}
                        <img src="{{ movie.primaryImage.url }}" class="card-img-top w-100" alt="{{ movie.primaryImage.caption.plainText }}">  
                    {% else %}
                        <img src="../static/card-image.svg" class="card-img-top w-100" alt="Bootstrap">
                    {% endif %}
                    
                    <!--Title and Release Date-->
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.titleText.text }}</h5>
                        <p class="card-text"><small class="text-body-secondary">
                            {% if movie.releaseDate != None %}
                                {{ movie.releaseDate.day }} / {{ movie.releaseDate.month }} / {{ movie.releaseDate.year }}
                            {% else %}
                                <p>NA</p>
                            {% endif %}
                        </small></p>
                    </div>
    
                    <div class="card-footer">
                        <div class="btn-group" role="group" aria-label="Advanced movie options">
                            <!--More Info button-->
                            <form action="/movie" method="get" id="movie.id" >
                                <input type="hidden" name="movie_id" value="{{ movie.id }}">
                                <button type="submit" class="btn btn-outline-primary">More info</button>
                            </form>
    
                            <!--Remove from Watchlist-->
                            <form name="removeWatch" id="removeWatch" action="/watchlist" method="post">
                                <input type="hidden" name="movie_id" value="{{ movie.id }}">
                                <input type="hidden" name="action" id="action" value="remove">
                                <button type="submit" class="btn btn-outline-primary" onclick="this.form.submit()">Remove from Watchlist</button>  
                            </form>   
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

    <!--Toggle pages again-->
    <nav aria-label="Movie pages navigation bottom">
        <ul class="pagination justify-content-center">
            <!--Prev button-->
            <li class="page-item">
                <button  type="button" data-bs-target="#watchlist_carousel" class="active" data-bs-slide="prev">
                    <i class="bi bi-chevron-double-left"></i>
                </button>
            </li>
            <!--Pages-->
            {% for i in range(num_pages) %}
            <li class="page-item">
                <button type="button" data-bs-target="#watchlist_carousel" data-bs-slide-to="{{ i }}"  aria-label="Slide {{ i + 1 }}" {% if i == 0 %} aria-current="true" class="active" {% endif %}>Page: {{ i + 1 }}</button>
            </li>
            {% endfor %}
            <!--Next button-->
            <li class="page-item">
                <button type="button" data-bs-target="#watchlist_carousel" class="active" data-bs-slide="next">
                    <i class="bi bi-chevron-double-right"></i>
                </button>
            </li>
        </ul>
    </nav>
</div>

{% endblock %}